<table>
  <thead>
    <tr>
      <th>Denumire echipament</th>
      <th>SN</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td>{{tip}} {{nume}}</td>
        <td>{{serie}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>