<table>
  <thead>
    <tr>
      <th>Tip</th>
      <th>Model</th>
      <th>SN</th>
      <th>Stare</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td>{{tip}}</td>
        <td>{{nume}}</td>
        <td>{{serie}}</td>
        <td>{{stare}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>